.ibroller {}
.ibroller .ibr_mask {overflow:hidden;}
.ibroller .ibr_group {}
.ibroller .ibr_unit {position:absolute;}

.ibr_dir_init .ibr_active {transition:none; -webkit-transition:none;}
.ibr_dir_init .ibr_a0 {top:10px; left:10px;}
.ibr_dir_init .ibr_a1 {top:10px; left:180px;}
.ibr_dir_init .ibr_a2 {top:10px; left:350px;}
.ibr_dir_init .ibr_ready {transition:none; -webkit-transition:none;}
.ibr_dir_init .ibr_r0 {top:10px; left:545px;}
.ibr_dir_init .ibr_r1 {top:10px; left:715px;}
.ibr_dir_init .ibr_r2 {top: 10px; left:885px;}
.ibr_dir_init .ibr_idle {transition:all .6s; -webkit-transition:all .6s;}
.ibr_dir_init .ibr_i0 {top:10px; left:-510px;}
.ibr_dir_init .ibr_i1 {top:10px; left:-340px;}
.ibr_dir_init .ibr_i2 {top:10px; left:-170px;}

.ibr_dir_left .ibr_ready {transition:none; -webkit-transition:none;}
.ibr_dir_left .ibr_r0 {top:10px; left:545px;}
.ibr_dir_left .ibr_r1 {top:10px; left:715px;}
.ibr_dir_left .ibr_r2 {top: 10px; left:885px;}
.ibr_dir_left .ibr_active {transition:all .6s; -webkit-transition:all .6s}
.ibr_dir_left .ibr_a0 {top:10px; left:10px;}
.ibr_dir_left .ibr_a1 {top:10px; left:180px;}
.ibr_dir_left .ibr_a2 {top:10px; left:350px;}
.ibr_dir_left .ibr_idle {transition:all .6s; -webkit-transition:all .6s;}
.ibr_dir_left .ibr_i0 {top:10px; left:-510px;}
.ibr_dir_left .ibr_i1 {top:10px; left:-340px;}
.ibr_dir_left .ibr_i2 {top:10px; left:-170px;}

.ibr_dir_right .ibr_ready {transition:none; -webkit-transition:none;}
.ibr_dir_right .ibr_r0 {top:10px; left:545px;}
.ibr_dir_right .ibr_r1 {top:10px; left:715px;}
.ibr_dir_right .ibr_r2 {top: 10px; left:885px;}
.ibr_dir_right .ibr_active {transition:all .6s; -webkit-transition:all .6s}
.ibr_dir_right .ibr_a0 {top:10px; left:10px;}
.ibr_dir_right .ibr_a1 {top:10px; left:180px;}
.ibr_dir_right .ibr_a2 {top:10px; left:350px;}
.ibr_dir_right .ibr_idle {transition:all .6s; -webkit-transition:all .6s;}
.ibr_dir_right .ibr_i0 {top:10px; left:-510px;}
.ibr_dir_right .ibr_i1 {top:10px; left:-340px;}
.ibr_dir_right .ibr_i2 {top:10px; left:-170px;}