.ibroller {}
.ibroller .ibr_mask {overflow:hidden; position:relative;}
.ibroller .ibr_group {}
.ibroller .ibr_unit {position:absolute;}
.ibr_noani {transition:none !important; -webkit-transition:none !important; -moz-transition:none !important; -ms-transition:none !important; -o-transition:none !important;}

.ibr_move_left .ibr_ready {transition:none; -webkit-transition:none;}
.ibr_move_left .ibr_r0 {top:10px; left:545px;}
.ibr_move_left .ibr_r1 {top:10px; left:715px;}
.ibr_move_left .ibr_r2 {top: 10px; left:885px;}
.ibr_move_left .ibr_active {transition:all .6s; -webkit-transition:all .6s; -moz-transition:all .6s;}
.ibr_move_left .ibr_a0 {top:10px; left:10px;}
.ibr_move_left .ibr_a1 {top:10px; left:180px;}
.ibr_move_left .ibr_a2 {top:10px; left:350px;}
.ibr_move_left .ibr_idle {transition:all .6s; -webkit-transition:all .6s; -moz-transition:all .6s;}
.ibr_move_left .ibr_i0 {top:10px; left:-520px;}
.ibr_move_left .ibr_i1 {top:10px; left:-350px;}
.ibr_move_left .ibr_i2 {top:10px; left:-180px;}

.ibr_move_right .ibr_ready {transition:none; -webkit-transition:none;}
.ibr_move_right .ibr_r0 {top:10px; left:-520px;}
.ibr_move_right .ibr_r1 {top:10px; left:-350px;}
.ibr_move_right .ibr_r2 {top:10px; left:-180px;}
.ibr_move_right .ibr_active {transition:all .6s; -webkit-transition:all .6s -moz-transition:all .6s;}
.ibr_move_right .ibr_a0 {top:10px; left:10px;}
.ibr_move_right .ibr_a1 {top:10px; left:180px;}
.ibr_move_right .ibr_a2 {top:10px; left:350px;}
.ibr_move_right .ibr_idle {transition:all .6s; -webkit-transition:all .6s; -moz-transition:all .6s;}
.ibr_move_right .ibr_i0 {top:10px; left:545px;}
.ibr_move_right .ibr_i1 {top:10px; left:715px;}
.ibr_move_right .ibr_i2 {top: 10px; left:885px;}